[Unit]
Description=MPRIS Media Controls 
Wants=network-online.target
After=network-online.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/home/%u/.local/bin/media-controls
WorkingDirectory=/home/%u/.local/share/media-controls
Restart=on-failure
RestartSec=5s

# Security
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=read-only
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
#PrivateTmp=yes
PrivateDevices=yes
PrivateUsers=yes

# Environment
Environment=RUST_LOG=info
Environment=JOURNAL_LOGGING=true
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/%U
Environment=CERTS_DIR=certs
Environment=PORT=5646

[Install]
WantedBy=default.target
